.restriction-delete {
    font-size: 1.5rem;
}

.giftLink a {
    line-height: 1.5rem;
    vertical-align: middle;
    i {
        font-size: 1.5rem;
    }
}

a.restriction-delete {
    color: red;
}

.list-group-item.restrictions {
    padding: 0 0 0 1rem;
}

.add-edit-form {
    margin-bottom: 5rem;
}

.hidden {
    display: none;
}